/* Color Picker */
body {
  font-family: sans-serif;
}
.color-picker-container {
}
/* Tablet styles (768px and above) */
@media only screen and (min-width: 768px) {
}
/* Desktop styles (1024px and above) */
@media only screen and (min-width: 1024px) {
}

.color-display {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
/* Tablet styles (768px and above) */
@media only screen and (min-width: 768px) {
}
/* Desktop styles (1024px and above) */
@media only screen and (min-width: 1024px) {
}
.color-picker-container input {
  width: 25%;
  height: 50px;
}
