/* Color Picker */
body {
  font-family: sans-serif; background: conic-gradient(
    from 0deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  height: 100vh;
  font-weight: bold;
}
.color-picker-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border-radius: 10px;
  padding: 10px;
  background-color: white;

  height: 350px;

}
/* Tablet styles (768px and above) */
@media only screen and (min-width: 450px) {
  .color-picker-container {
    /* border: solid blue 1px; */

    margin-left: 175px;
    margin-right: 175px;
  }
}
/* Desktop styles (1024px and above) */
@media only screen and (min-width: 1050px) {
  .color-picker-container {
    /* border: solid red 1px; */

    margin-left: 400px;
    margin-right: 400px;
  }
}

.color-display {
  width: 100%;
  height: 300px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.color-picker-container input {
  width: 150px;
  height: 50px;
}

.color-picker-container label {
    margin-top: 20px;
    margin-bottom: 20px;
}
